/*
.container-fluid{
    background-color: rgba(252, 249, 249, 0.956);
}

.nav-item, .navbar-brand, .navbar-collapse, .d-flex {
    background-color: rgba(252, 249, 249, 0.956);
}

.nav-link{
    background-color: rgb(252, 249, 249);
}
*/