/*
.sell-form, .container-sm, #sneakerSize, .col-md, .col, .form-floating, #sneakerPrice{
    background-color: white;
}

label{
    background-color: transparent;
}
*/

/*
.sell-form{
    background-color: rgba(0, 0, 0, 0.898);
}

.sneaker-container{
    background-color: rgba(0, 0, 0, 0.898);
}

.form-label{
    color: white;
}
*/